.forms-nav-overlay {
    @media screen and (max-width: 768px) {
        
        &.forms-nav-overlay-active-under-768 {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #33333327;
            z-index: 1;
        }
    }
}

.forms-nav {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #333;
    margin-top: 64px;
    z-index: 2;
    transition: 0.3s;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        transform: translateX(-320px);

        &.forms-nav-active-under-768 {
            transform: translateX(0px);
        }
    }

    &-header {
        padding-bottom: 2rem;
        border-bottom: 1px solid #524f4f;
    }

    &-heading {
        font-size: 24px;
        color: #fff;
        font-weight: 100;
    }

    &-container {
        display: flex;
        flex-direction: column;
        height: calc(100% - 58px);
        overflow: auto;

        
        &::-webkit-scrollbar {
            display: inherit;
            width: 10px;
            background-color: transparent;
            // border-radius: 10px;
            transition: 1s;
            border: 2px solid transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
            width: 10px;
            // border-radius: 10px;
        }


        &:hover {
            &::-webkit-scrollbar {
                background-color: #dddddd3b;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(27, 25, 25);
    
            }
    
        }

    }

    &-links {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;

        li {
            margin-right: 0.75rem;
        }
    }

    &-link {
        padding: 0.75rem 0.5rem;
        display: block;
        color: #fff;
        font-size: 14px;
        
        &:hover {
            background-color: #666666ad;
        }
    }
}