.home-about {
    padding: 100px 0;
    background-color: var(--home-about-bg-color);


    &-contexts {
        display: flex;
        align-items: center;
    }


    &-left {

    }

    &-right {

    }

    &-heading {
        margin-bottom: 2rem;
        color: var(--home-about-heading-color);
        font-weight: 100;
    }

    &-subtitle {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 140px;
        margin-bottom: 3rem;
        color: var(--home-about-subtitle-color);
        font-weight: 600;

        span {
            // &:nth-child(2) {


                span {
                    position: relative;
                    display: inline-block;

                    img {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -150px;
                        height: 120px;
                        width: auto;
                        vertical-align: middle;
                        object-fit: cover;
                        border-radius: 2px;
                        user-select: none;
                        pointer-events: none;
                    }
                }
            // }
        }
    }


    &-lead {
        display: flex;
        flex-direction: column;
        font-size: 60px;
        color: var(--home-about-lead-color);
    }

}