:root[data-theme="dark"] {
    --body-bg-color: #101010;
    --body-bg-color: #333646;


    --navbar__bg__color: #101010;
    --navbar-text-color: #f7f7f7;



    --hero-home-subtitle-color: #f7f7f7;
    --hero-home-heading-color: #fff;
    --hero-home-social-color: #fff;



    --about-heading-color: #f7f7f7;
    --about-small-heading-color: #f7f7f7;
    --about-lead-color: #f7f7f7;
    --line-bg-color: #333;
    --about-read-more-link-color: #f7f7f7;

    
    --section-contact-bg: #252734;


    --home-team-bg-top-color: #252734;
    --home-team-bg-bottom-color: #333646;
    --home-team-card-bg-color: #424657;
    --home-team-card-heading-color: #fff;
    --home-team-card-project-number-color: #fff;


    --home-portfolio-bg-color: #333646;


    --blog-and-testimonial-bg-color: #252734;

}
